* {
    margin: 0;
    padding: 0;
}

.images-docentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-docentes {
    width: 370px;
    height: 320px;
}